//-index.pug
doctype html 
html
head
style 
  include ../static/style.css
body 
  nav#navbar  
    ul 
      div#logo 
        img(src="/static/img/logo.png")
        | SDA
      li #[a(href="/") Home]
      li #[a(href="/") About ]
      li #[a(href="/") Services ]
      li #[a(href="/") join us ]
      li #[a(href="/") contact us]

  section#introsection 
     div Welcome to Satyam Dance Acedemy 
     div.sml Eat,Sleep,Dance,Sleep;
  section#ourmission 
      h2 Our Mission 
      div.card 
        h3 Dance Perfection 
        div.card-box
          div.card-img
            img(src="/static/img/1.png")
          div.card-content 
            p This is the best dance acedmy of universe
      div.card 
        h3 Dance the way You Like
        div.card-box
          div.card-img
            img(src="/static/img/2.png")
          div.card-content 
            p This is the best dance acedmy of universe
      div.card 
        h3 Dance teaching
        div.card-box
          div.card-img
            img(src="/static/img/3.png")
          div.card-content 
            p This is the best dance acedmy of universe
  section#sponsorsection 
    h2 section for sponsors 
    div#sponsors
      img(src="/static/img/logo1.png", alt=" Sponsor Image",class="spimage")
      img(src="/static/img/logo2.png", alt=" Sponsor Image",class="spimage")
      img(src="/static/img/logo3.png", alt=" Sponsor Image",class="spimage")
      img(src="/static/img/logo4.png", alt=" Sponsor Image",class="spimage")
  section#footer
    |copyright © 2019 SatyamDanceAcademy.com | All rights reserved.
 
script 
  include ../static/index.js