h1{text-align:center;
margin:12px 0px;}

.container{
    min-height:0vh;

}
.myform{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.btn{
    padding:8px 16px;
    font-size:18px;
    border:2px solid black;
    border-radius:10px;
    color:white;
    cursor:pointer;
    outline:none;
    margin
}